@font-face {
  font-family: roundedElegance;
  src: url(../fonts/Rounded_Elegance.ttf);
}

#UPGEOGSOCHEADER{
	color: white;
    text-decoration: none;
}

#bannerContainer{
	position: relative;
}

.tangina-mo-jepoy-dizon{
	left: 0%;
	right: 0%;
	z-index: 1;
}

.rounded-elegance {
	font-family: roundedElegance;
}

.salamat-na-lang-sa-lahat{
	opacity:0;
}

.pos-abs{
	position: absolute;
}

.pos-rel{
	position: relative;
}

.full-width{
	width: 100%;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-justify{
	text-align: justify;
}

.text-white{
	color: white;
}

.hide{
	display: none;
}

.address-text-hehe{
	font-size: 3rem;
}

#mastheadHeader{
	background-image: none !important;
	filter: brightness(1);
}

#sigGeogSoc{
	height: 8rem;
}

#sigPGO{
	height: 8rem;
}