@font-face {
  font-family: roundedElegance;
  src: url(../fonts/Rounded_Elegance.ttf);
}

@font-face {
  font-family: glacialIndifference;
  src: url(../fonts/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: glacialIndifference;
  src: url(../fonts/GlacialIndifference-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: glacialIndifference;
  src: url(../fonts/GlacialIndifference-Italic.otf);
  font-style: italic;
}

#UPGEOGSOCHEADER{
	display: none;
	color: white;
    text-decoration: none;
}

#GSUPHEADER{
	color: white;
    text-decoration: none;
}

#bannerContainer{
	position: relative;
}

#bannerContainer2{
	position: relative;
}

.main-landing-body{
	opacity: 0;
}

.tangina-mo-jepoy-dizon{
	left: 0%;
	right: 0%;
	z-index: 1;
}

.tangina-mo-paking-shet-mukha-kang-tae{
	z-index: 1;
}

.rounded-elegance {
	font-family: roundedElegance !important;
}

.salamat-na-lang-sa-lahat{
	opacity:0;
}

.text-geogsoc-blue{
	color: #01a6ea;
}

.text-geogsoc-green{
	color: #97c000;
}

.pos-abs{
	position: absolute;
}

.pos-rel{
	position: relative;
}

.full-width{
	width: 100%;
}

.full-height{
	height: 100%;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left !important;
}

.text-justify{
	text-align: justify;
}

.text-white{
	color: white;
}

.hide{
	display: none !important;
}

.address-text-hehe{
	font-size: 3rem;
}

.carousel-item{
	top: 22px;
}

.carousel{
	margin-bottom: 20px;
}

.dropdown-toggle::after {
	display: none;
}

.gscale{
	filter: grayscale(1.0);
}

.overflow-y-h{
	overflow-y: hidden;
}

.overflow-y-a{
	overflow-y: auto;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #056d98;
}

#mastheadHeader{
	background-image: none !important;
	filter: brightness(1);
}

#mastheadHeader2{
	background-image: none !important;
	filter: brightness(1);
	position: relative;
}

#sigGeogSoc{
	height: 8rem;
}

#sigPGO{
	height: 8rem;
}

.pladingX69420-0{
	padding-left: 0px;
}

.sheesh{
	height: 96.5%;
}

.loading-spinner{
	position: fixed;
    top: calc(50% - -125px);
    left: 50%;
    z-index: 9999;
    margin-left: -270px;
}

.text-content-standard{
	font-size: 1.1025rem;
	font-family: 'glacialIndifference';
}

.text-content-standard-small{
	font-size: 0.925rem;
}

.font-weight-normal{
	font-weight: normal;
}

.display-flex{
	display: flex;
}

.nacht-der-untoten{
	padding-left: var(--bs-gutter-x, 0.75rem);
}

.font-glacial{
	font-family: 'glacialIndifference';
}

.close-modal-new{
	position: fixed !important;
    left: 1.5rem !important;
    margin: 1rem !important;
    height: 2rem !important;
    width: 2rem !important;
}

.negrem{
	margin-top:-3rem;
	margin-bottom: -8rem;
}

.negreight{
	margin-top: -8rem;
}
.carousel-negrem{
	top: -28px;
}

.geogsocgreen-bg{
	background-color: #97c000 !important;
}

.background-white-snow{
	background-color: white;
}

.negreight-2{
	margin-top: 1rem !important;
}

.negreightneg-2-sm{
	margin-top: -3rem !important;
}

.artur{
	padding-left: 11rem;
    padding-right: 11rem;
    margin-top: 1rem;
}
.arturito{
	padding-left: 10rem;
    padding-right: 10rem;
    margin-top: -4rem;
    margin-bottom: 3rem;
}

.majide{
	color: white;
	text-decoration: none;
}

.mastsubheading2-bot{
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
}

#splashMastHeaderText{
	font-size: 1.5rem;
	margin-bottom: 2rem;
	line-height: 2rem;
	text-shadow: 2px 2px 4px #000000;
}

#foundingTitan {
	background-image: none;
    background-repeat: no-repeat;
    background-position: center -6px;
}

@media (min-width: 520px){
	.arturito{
		padding-left: 11.5rem;
    	padding-right: 11.5rem;
    	margin-top: -4rem;
    	margin-bottom: 4rem;
	}
	#foundingTitan {
    background-repeat: no-repeat;
    background-position: center -6px;
}
}

@media (min-width: 548px){
	.arturito{
		padding-left: 12rem;
    	padding-right: 12rem;
    	margin-top: -4rem;
    	margin-bottom: 4rem;
	}
}

@media (min-width: 576px){
	.arturito{
		padding-left: 12rem;
    	padding-right: 12rem;
    	margin-top: -4rem;
    	margin-bottom: 3rem;
	}
	#splashMastHeaderText{
	    font-size: 1.5rem;
	    margin-bottom: 1rem;
	    line-height: 2.5rem;
	    text-shadow: 2px 2px 4px #000000;
	}
}

@media (min-width: 768px){
	.negreightneg-2-sm{
		display: auto;
		margin-top: -2rem !important;
	}
	.artur{
		padding-left: 16rem;
    	padding-right: 16rem;
    	margin-top: 1rem;
	}
	.arturito{
		padding-left: 18rem;
    	padding-right: 18rem;
    	margin-top: -4rem;
    	margin-bottom: 4rem;
	}
	#splashMastHeaderText{
	    font-size: 1.75rem;
	    margin-bottom: 1rem;
	    line-height: 3rem;
	}
}

@media (min-width: 992px){
	.negreightneg-2-sm{
		display: none;
	}
	.artur{
		padding-left: 12rem;
    	padding-right: 12rem;
    	margin-top: 1rem;
	}
	.negreight-2{
		margin-top: 2rem !important;
	}
	.arturito{
		padding-left: 24rem;
    	padding-right: 24rem;
    	margin-top: -2rem;
    	margin-bottom: 4rem;
	}
	#splashMastHeaderText{
	    font-size: 2rem;
	    margin-bottom: 1rem;
	    line-height: 3rem;
	}
}

@media (min-width: 1070px){
	.arturito{
		padding-left: 24rem;
    	padding-right: 24rem;
    	margin-top: -2rem;
    	margin-bottom: 4.25rem;
	}
	#splashMastHeaderText{
	    font-size: 2rem;
	    margin-bottom: 2rem;
	    line-height: 3.25rem;
	}
}

@media (min-width: 1200px){
	.artur{
		padding-left: 14rem;
    	padding-right: 14rem;
    	margin-top: 1rem;
	}
	.arturito{
		padding-left: 29.5rem;
    	padding-right: 29.5rem;
    	margin-top: -2rem;
    	margin-bottom: 5rem;
	}
	#splashMastHeaderText{
	    font-size: 3rem;
	    margin-bottom: 4rem;
	    line-height: 4rem;
	}
}

@media (min-width: 1400px){
	.artur{
		padding-left: 16rem;
    	padding-right: 16rem;
    	margin-top: 1rem;
	}
	.arturito{
		padding-left: 35rem;
    	padding-right: 35rem;
    	margin-top: -2rem;
    	margin-bottom: 5rem;
	}
	#splashMastHeaderText{
	    font-size: 3.25rem;
	    margin-bottom: 4rem;
	    line-height: 4.5rem;
	}
}

@media only screen and (max-width: 768px) {
	#UPGEOGSOCHEADER{
		display: block;
	}
	#GISUPDHEADER{
		display: block !important;
	}
	#GSUPHEADER{
		display: none;
	}
	#navbarResponsive{
		z-index: 99999999999999999;
	}
}

@media only screen and (max-width: 876px) {
	.close-modal{
	    height: 1.5rem !important;
    	width: 1.5rem !important;
	}
}

.logo-loader{
	height: 275px;
    position: absolute;
    top: -330px;
    display: block;
    left: 0;
    right: 0;
}

.dropdown-media-med{
	display: none;
}

.dropdown-media-show{
	display: list-item;
}

.spinner-grow{
	margin: 1rem;
}

.text-geogsoc2{
	color: #688500 !important;
}

.cursor-pointer{
	cursor: poinnter;
}

.margin-0{
	margin: 0rem !important;
}

.padding-2{
	padding: 2rem !important;
}

.padding-top-2rem{
	padding-top: 2rem !important;
}

@media only screen and (min-width: 992px) {
	.dropdown-media-med{
		display: list-item;
	}
	
	.dropdown-media-show{
		display: none;
	}
}

@media only screen and (max-width: 990px) {
	.dropdown-media-med{
		display: none;
	}
	
	.dropdown-media-show{
		display: list-item;
	}
}

@media only screen and (max-width: 556px) and (min-width: 412px) {
	.spinner-grow{
		width: 1rem;
		height: 1rem;
	}
	
	.loading-spinner{
		margin-left: -206px;
	}
	
	.logo-loader{
		height: 212px;
		top: -258px;
	}
}

@media only screen and (max-width: 412px) {
	.spinner-grow{
		width: 0.6rem;
		height: 0.6rem;
	}
	
	.loading-spinner{
		margin-left: -181px;
	}
	
	.logo-loader{
		height: 190px;
		top: -290px;
	}
}

@media only screen and (max-width: 360px) and (min-width: 320px) {
	#page-top{
		margin-right: -0.325rem;
	}
}

@media only screen and (max-width: 320px) {
	#page-top{
		margin-right: -2.725rem;;
	}
}