@font-face {
  font-family: roundedElegance;
  src: url(../fonts/Rounded_Elegance.ttf);
}

#UPGEOGSOCHEADER{
	color: white;
    text-decoration: none;
}

#bannerContainer{
	position: relative;
}

.tangina-mo-jepoy-dizon{
	left: 0%;
	right: 0%;
	z-index: 1;
}

.rounded-elegance {
	font-family: roundedElegance;
}

.salamat-na-lang-sa-lahat{
	opacity:0;
}

.pos-abs{
	position: absolute;
}

.pos-rel{
	position: relative;
}

.full-width{
	width: 100%;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-justify{
	text-align: justify;
}

.text-white{
	color: white;
}

.hide{
	display: none;
}

.address-text-hehe{
	font-size: 3rem;
}

.carousel-item{
	top: 22px;
}

.carousel{
	margin-bottom: 20px;
}

.dropdown-toggle::after {
	display: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #056d98;
}

#mastheadHeader{
	background-image: none !important;
	filter: brightness(1);
}

#sigGeogSoc{
	height: 8rem;
}

#sigPGO{
	height: 8rem;
}