html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

#map {
	height: 100%;
	width: 100%;
	position: absolute;
	padding-top: 6rem;
}

#descriptor{
	position: absolute;
	left: 4rem;
	z-index: 99999;
	background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px hsl(0deg 0% 4% / 10%), 0 0 0 1px hsl(0deg 0% 4% / 10%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

#headerTitle1{
	font-size: 24px;
	font-family: 'roundedElegance';
	font-weight: bold;
}

.activeArea { position: absolute;
    top: 6rem;
    /* left: 50px; */
    width: 50%;
    right: 50px;
    height: 75%;}

#map > .leaflet-control-container > :first-child {
	top: 5rem;
}

.form-check-input:checked{
    background-color: #0074ff;
    border-color: #0074ff;
  }
  
.form-check-input:focus {
    border-color: #0074ff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 200 0 / 25%);
}

.ikigai{
	padding: 12px;
    font-family: 'roundedElegance';
    font-size: 18px;
    font-weight: bold;
}